<div class="basket-log__top">
    <div class="basket-log__title">Подтверждение заказа</div><a class="basket-log__top-btn basket-log__top-btn--left" href="#">← Назад</a><a class="basket-log__close" href="#"></a>
</div>
<div class="basket-log__content">
    {% for product in products %}
    <div class="basket-log__item basket-log__item--center" style="background-image: url({{ product.image }});">
        <div class="basket-log__item-box"><a class="basket-log__item-name" href="{{ product.href }}">{{ product.name }}</a>
            <div class="basket-log__item-price">{{ product.total }}</div>
        </div>
    </div>
    {% endfor %}
    <div class="basket-log__info">
        <div class="basket-log__info-line">
            <div class="basket-log__info-name">Населенный пункт:</div>
            <div class="basket-log__info-value">{{ nas_punkt }}</div>
        </div>
        <div class="basket-log__info-line">
            <div class="basket-log__info-name">Улица:</div>
            <div class="basket-log__info-value">{{ street }}, {{ house }}</div>
        </div>
        <div class="basket-log__info-line">
            <div class="basket-log__info-name">Телефон:</div>
            <div class="basket-log__info-value">8 920 219 76 72</div>
        </div>
        <div class="basket-log__info-line">
            <div class="basket-log__info-name">E-mail:</div>
            <div class="basket-log__info-value">d.klinchuk@mil.ru</div>
        </div>
        <div class="basket-log__info-line">
            <div class="basket-log__info-name">Количество бонусов:</div>
            <div class="basket-log__info-value">0</div>
        </div>
        <div class="basket-log__info-line">
            <div class="basket-log__info-name">Метод оплаты:</div>
            <div class="basket-log__info-value">{{ payment_method }}</div>
        </div>
        <div class="basket-log__info-line basket-log__info-line--all">
            <div class="basket-log__info-name">Всего:</div>
            <div class="basket-log__info-value">436 грн</div>
        </div>
    </div>
</div>
<div class="basket-log__bottom basket-log__bottom--center"><a class="btn basket-log__btn btn-orange" href="#">Оформить заказ</a></div>