<div class="basket-log__tabs">
{% if shipping_methods %}
    {% for shipping_method in shipping_methods %}
        {% if not shipping_method.error %}
            {% for quote in shipping_method.quote %}
                <label class="basket-log__tabs-box">{% if quote.code == code or not code %}
                            {% set code = quote.code %}
                            <input type="radio" name="shipping_method" value="{{ quote.code }}" checked /><span class="basket-log__tabs-item">{{ shipping_method.title }}</span>
                        {% else %}
                            <input type="radio" name="shipping_method" value="{{ quote.code }}" /><span class="basket-log__tabs-item">{{ shipping_method.title }}</span>
                        {% endif %}
                         </label>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>
