<footer class="footer">
    <div class="container"><a class="logo" href="#"><img src="{{ logo }}" alt="Jamiqlia"></a>
        <div class="footer__box">
            {{ footer_menu }}

        </div>
        <div class="footer__info">
            <ul class="social">
                <li class="social__item"><a class="social__link social__link-facebook" href="#"></a></li>
                <li class="social__item"><a class="social__link social__link-instagram" href="#"></a></li>
            </ul>
            <div class="footer__copy">{{ copy_r }}</div>
        </div>
        <div class="footer__phone">
            <div class="phone">
                <div class="phone__item">{{ telephone }}</div>
                <div class="phone__item">{{ telephone2 }}</div>
                <div class="phone__text">11:00 - 23:00 {{ text_titles }}</div>
                <div class="phone__text phone__text--small">с 11 до 23:00</div>
            </div>
        </div>
    </div>
</footer>
</div>


{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>