<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
    <meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
{% endif %}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="/catalog/view/javascript/libs/slider/owl.carousel.min.css">
    <link rel="stylesheet" href="/catalog/view/javascript/libs/popup/magnific-popup.css">
    <link rel="stylesheet" href="/catalog/view/theme/pizza/stylesheet/style.css">

    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}

    <script src="/catalog/view/javascript/libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="/catalog/view/javascript/libs/slider/owl.carousel.min.js"></script>
    <script src="/catalog/view/javascript/libs/popup/jquery.magnific-popup.min.js"></script>
    <script src="/catalog/view/javascript/valid.js"></script>
    <script src="/catalog/view/javascript/main.js"></script>
    <script src="/catalog/view/javascript/cart.js"></script>
    <script src="/catalog/view/javascript/checkout.js"></script>
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
<div class="all">
    <header class="header">
        <div class="container">{% if logo %}<a class="logo" href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% endif %}
            <div class="header__content">
                <div class="header-box">
                    <div class="header-box__top">
                        <div class="header-box__info">Доставим за 60 минут <br>или пицца БЕСПЛАТНО!</div>
                        <div class="header-box__phone">
                            <div class="phone">
                                <div class="phone__item">(099) 123 45 67</div>
                                <div class="phone__item">(098) 123 45 67</div>
                                <div class="phone__text">11:00 - 23:00 Без выходных</div>
                                <div class="phone__text phone__text--small">с 11 до 23:00</div>
                            </div>
                        </div>
                        <div class="header-box__ctrls">
                            <div class="header-box__shipping">Бесплатная<span>доставка пиццы!</span></div>
                            <div class="header-box__block">
                                {{ language }}
                                <div class="header-box__card">
                                    <div class="header-box__card-item header-box__card-item-visa"></div>
                                    <div class="header-box__card-item header-box__card-item-master"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="header-box__menu">
                        <ul class="header-box__list">
                            {{ menu }}
                            <li class="header-box__item"><a class="header-box__link" href="stocks.html">Акции</a></li>
                            <li class="header-box__item"><a class="header-box__link" href="#"> О нас</a></li>
                            <li class="header-box__item"><a class="header-box__link" href="contacts.html">Контакты</a></li>
                            <li class="header-box__item"><a class="header-box__link" href="payment.html">Доставка и оплата</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-box">
                    <div class="header-basket">

                        <div class="header-basket">
                            <div class="header-basket__box">
                                <div class="header-basket__icon" data-items="{{ cart_count }}"></div>
                                <div class="header-basket__summa">{{ total }} грн</div>
                            </div>
                            <div class="basket-log">
                                <div id="checkout-cart" class="basket-log__box active">
                                    <div class="basket-log__top">
                                        <div class="basket-log__title">Ваша корзина</div><a class="basket-log__top-btn basket-log__top-btn--right" id="clear_basket" href="#">Очистить заказ</a><a class="basket-log__close" href="#"></a>
                                    </div>
                                    <div class="basket-log__content" id="cart-products-list">
                                        {{ cart }}
                                    </div>
                                    <div class="basket-log__bottom basket-log__bottom--right">
                                        <div class="basket-log__summa">{{ total }} грн</div><a data-type="cart" class="btn basket-log__btn btn-orange" href="#">Оформить заказ</a>
                                    </div>
                                </div>
                                <div id="checkout-checkout" class="basket-log__box">
                                    {{ checkout }}
                                </div>
                                <div id="confirm-checkout" class="basket-log__box">
                                    <div class="basket-log__top">
                                        <div class="basket-log__title">Подтверждение заказа</div><a class="basket-log__top-btn basket-log__top-btn--left" href="#">← Назад</a><a class="basket-log__close" href="#"></a>
                                    </div>
                                    <div class="basket-log__content">
                                        <div class="basket-log__item basket-log__item--center" style="background-image: url('img/basket-log__img.png');">
                                            <div class="basket-log__item-box"><a class="basket-log__item-name" href="card.html">Прошутто-Пера DeLuxe</a>
                                                <div class="basket-log__item-price">218 грн</div>
                                            </div>
                                        </div>
                                        <div class="basket-log__item basket-log__item--center" style="background-image: url('img/basket-log__img.png');">
                                            <div class="basket-log__item-box"><a class="basket-log__item-name" href="card.html">Прошутто-Пера DeLuxe</a>
                                                <div class="basket-log__item-price">218 грн</div>
                                            </div>
                                        </div>
                                        <div class="basket-log__info">
                                            <div class="basket-log__info-line">
                                                <div class="basket-log__info-name">Населенный пункт:</div>
                                                <div class="basket-log__info-value">Название города</div>
                                            </div>
                                            <div class="basket-log__info-line">
                                                <div class="basket-log__info-name">Улица:</div>
                                                <div class="basket-log__info-value">Кирова, 23</div>
                                            </div>
                                            <div class="basket-log__info-line">
                                                <div class="basket-log__info-name">Телефон:</div>
                                                <div class="basket-log__info-value">8 920 219 76 72</div>
                                            </div>
                                            <div class="basket-log__info-line">
                                                <div class="basket-log__info-name">E-mail:</div>
                                                <div class="basket-log__info-value">d.klinchuk@mil.ru</div>
                                            </div>
                                            <div class="basket-log__info-line">
                                                <div class="basket-log__info-name">Время доставки:</div>
                                                <div class="basket-log__info-value">13:00</div>
                                            </div>
                                            <div class="basket-log__info-line">
                                                <div class="basket-log__info-name">Количество бонусов:</div>
                                                <div class="basket-log__info-value">0</div>
                                            </div>
                                            <div class="basket-log__info-line">
                                                <div class="basket-log__info-name">Метод обплаты:</div>
                                                <div class="basket-log__info-value">Наличные</div>
                                            </div>
                                            <div class="basket-log__info-line basket-log__info-line--all">
                                                <div class="basket-log__info-name">Всего:</div>
                                                <div class="basket-log__info-value">436 грн</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basket-log__bottom basket-log__bottom--center"><a class="btn basket-log__btn btn-orange" href="#">Оформить заказ</a></div>
                                </div>
                                <div class="basket-log__box">
                                    <div class="basket-log__end">
                                        <div class="basket-log__end-title">Спасибо!</div>
                                        <div class="basket-log__end-text">В ближайшее время наш оператор свяжется с вами.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% if logged %}
                        <a class="header-sing" href="{{ logout }}">{{ text_logout }}</a>
                    {% else %}
                        <a class="header-sing noLink" href="#">Вход/Регистрация</a>
                        <div class="sing-log">{{ form_login }}</div>
                    {% endif %}
                </div>
            </div>
            <a class="burg noLink" href="#">
                <svg width="36" height="38">
                    <g>
                        <rect x="0" y="22" fill="#e9ae4a" width="36" height="4"></rect>
                        <rect x="0" y="10" fill="#e9ae4a" width="36" height="4"></rect>
                        <rect x="0" y="34" fill="#e9ae4a" width="36" height="4"></rect>
                    </g>
                </svg>
            </a>
        </div>
        <div class="drop-menu">
            <div class="drop-menu__bg"></div>
            <div class="drop-menu__box"><a class="drop-menu__close noLink" href="#"></a>
                <div class="drop-menu__sing">
                    {% if logged %}
                        <a class="drop-menu__sing-link" href="{{ logout }}">{{ text_logout }}</a>
                    {% else %}
                        <a class="drop-menu__sing-link noLink" href="#"><span> </span>Вход/Регистрация</a>
                    {% endif %}
                </div>
                <div class="drop-menu__sing-content">
                    {% if logged %}
                    {% else %}
                    {{ form_login }}
                    {% endif %}
                </div>
                <ul class="drop-menu__list">
                    <li class="drop-menu__item"><a class="drop-menu__link" href="#">Пицца</a></li>
                    <li class="drop-menu__item"><a class="drop-menu__link" href="#">Салаты</a></li>
                    <li class="drop-menu__item"><a class="drop-menu__link" href="#">Напитки</a></li>
                    <li class="drop-menu__item"><a class="drop-menu__link" href="#">Акции</a></li>
                    <li class="drop-menu__item"><a class="drop-menu__link" href="#">О нас</a></li>
                    <li class="drop-menu__item"><a class="drop-menu__link" href="#">Контакты</a></li>
                    <li class="drop-menu__item"><a class="drop-menu__link" href="#">Доставка и оплата</a></li>
                </ul>
                <div class="drop-menu__lang">
                    <div class="header-box__lang">
                        <div class="header-box__lang-box">
                            <input type="radio" name="lang-menu" id="lang-uk-menu">
                            <label class="header-box__lang-label header-box__lang-label-uk" for="lang-uk-menu">Укр</label>
                        </div>
                        <div class="header-box__lang-box">
                            <input type="radio" name="lang-menu" id="lang-ru-menu" checked>
                            <label class="header-box__lang-label header-box__lang-label-ru" for="lang-ru-menu">Рус</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>