<div class="header-box__lang">
    {% if languages|length > 1 %}
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
        {% for language in languages %}
    <div class="header-box__lang-box">
        <input {% if language.code == code %} checked {% endif %} type="radio" name="lang" id="lang-{{ language.code }}">
        <label class="header-box__lang-label header-box__lang-label-{{ language.code }}" for="lang-{{ language.code }}">{{ language.name }}</label>
    </div>
        {% endfor %}
        <input type="hidden" name="code" value="" />
        <input type="hidden" name="redirect" value="{{ redirect }}" />
    </form>
    {% endif %}
</div>