{% if products %}
{% for product in products %}
<div class="hit-item">
    <a class="hit-item__box {% if product.prod_type > 0 %} mode-hit {% endif %}" href="{{ product.href }}" style="background-image: url({{ product.thumb }});" data-info="{{ product.label_text }}">
        <span class="hit-item__name">{{ product.name }}</span>
        <span class="hit-item__text">
            {{ product.sostav }}
        </span>
        <span class="hit-item__info">
            {% for option in product.options %}
                {% for key, value in option.product_option_value %}
                    <span class="hit-item__info-box {% if key == option.product_option_value|length  - 1 %}active{% endif %}">
                        <span class="hit-item__info-block">
                            <span class="hit-item__info-size">{{ value.name }}{% if value.weight > 0 %}<span>{{ value.weight }}</span>{% endif %}</span>
                            <span class="hit-item__info-price">{{ value.price }}</span>
                        </span>
                        <span class="btn hit-item__btn add-product-cart" data-prodId="{{ product.product_id }}" data-key="{{ key }}">{{ text_to_card }}</span>
                        <input style="display: none;" class="option{{ product.product_id }}_{{ key }}" value="{{ product.optV[key]['prod_val'] }}" name="option[{{  product.optV[key]['opt_val'] }}]" type="checkbox" name="card-price" checked>

                    </span>
                {% endfor %}
            {% endfor %}

        </span>
    </a>
</div>
{% endfor %}
    <script type="text/javascript">
        $('document').ready(function() {
            //change url
            history.pushState(null, null, '{{ url }}');
            {% if change_meta %}
            //set new title
            {% if title != '' %}
            document.title = '{{ title }}';
            $('.menu h1').text('{{ h1_tag }}');
            {% endif %}

            $('meta[name=robots]').remove();
            {% if not allow_index %}
                $('head').append( '<meta name="robots" content="noindex, follow">' );
            {% endif %}

            $('meta[name=keywords]').remove();
            $('head').append( '<meta name="keywords" content="{{ meta_keywords }}">' );

            $('meta[name=description]').remove();
            $('head').append( '<meta name="description" content="{{ meta_description }}">' );
            {% endif %}


        });
    </script>
{% endif %}
