{% for product in products %}
<div class="hit-item">
    <a class="hit-item__box mode-hit" href="{{ product.href }}" style="background-image: url({{ product.thumb }});" data-info="Хит">
        <span class="hit-item__name">{{ product.name }}</span>
        <span class="hit-item__text">
            {{ product.sostav }}
        </span>
        <span class="hit-item__info">
            {% for option in product.options %}
                {% for key, value in option.product_option_value %}
                    <span class="hit-item__info-box {% if key == 0 %}active{% endif %}">
                        <span class="hit-item__info-block">
                            <span class="hit-item__info-size">{{ value.name }}<span>500 ± 50 гр</span></span>
                            <span class="hit-item__info-price">{{ value.price }}</span>
                        </span>
                        <span class="btn hit-item__btn add-product-cart" data-prodId="{{ product.product_id }}" data-key="{{ key }}">Заказать</span>
                        <input style="display: none;" class="option{{ product.product_id }}_{{ key }}" value="{{ product.optV[key]['prod_val'] }}" name="option[{{  product.optV[key]['opt_val'] }}]" type="checkbox" name="card-price" checked>

                    </span>
                {% endfor %}
            {% endfor %}

        </span>
    </a>
</div>
{% endfor %}