{{ header }}
<section class="profile page">
    <div class="container">
        <div class="profile__content">
            <h2>{{ text_acc_hello }}{% if firstname and firstname != '' %}, {{ firstname }}{% endif %}!</h2>
            {{ orders_list }}
            <div class="profile__title">{{ text_acc_user_text }}</div>
            <form class="profile-form" method="post" action="{{ form_action }}">
                <div class="profile-form__content">
                    <div class="profile-form__box">
                        <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_adr }}</span>

                        </label>
                        <div class="profile-form__box-current-adresses">
                            {% set s = 1 %}
                            {% for key,address in addresses %}
                                <div class="profile-form__box-current-adresses-adress-row">
                                    <span>{{ s }}. {{ address.nas_punkt }}, {{ address.street }} {{ address.house }} {{ address.paradnya }} </span>
                                    <div class="profile-form__box-current-adresses-adress-row_remove" data-address-id="{{ address.address_id }}">

                                    </div>
                                     </div>
                                {% set s= s +1 %}
                            {% endfor %}
                        </div>
                        <div class="profile-form__add-label"><a href="#">{{ text_acc_user_adr_add }}</a></div>
                        <div class="profile-form__drop">
                            <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_sity }}</span>
                                <select name="nas_punkt" class="basket-log__form-value">
                                    {% for _sity in arr_sity %}
                                        <option>{{ _sity }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_strit }}</span>
                                <input type="text" name="street">
                            </label>
                            <div class="profile-form__drop-box">
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_dim }}</span>
                                        <input type="text" name="house">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_home }}</span>
                                        <input type="text" name="paradnya">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_lvl }}</span>
                                        <input type="text" name="floor">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_home_nom }}</span>
                                        <input type="text" name="flat">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_key_door }}</span>
                                        <input type="text" name="code_door">
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="profile-form__box">
                        <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_name }}</span>
                            <input type="text" value="{{ firstname }}" name="firstname">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_tel }}</span>
                            <input type="tel" value="{{ telephone }}" name="telephone">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">E-mail</span>
                            <input type="email" value="{{ email }}" name="email">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_date }}</span>
                            <input type="text" value="{{ bdate_formated }}" name="bdate" id="bdate" {% if bdate != 0 %}readonly="readonly"{% endif %}>
                        </label>
                        <span class="profile-form__label_notice">{% if bdate != 0 %}Вы уже изменяли день рождения!{% else %}День рождения изменяется один раз!{% endif %}</span>
                        <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_pass }}</span>
                            <input placeholder="{{ text_acc_user_place }}" type="password" name="password">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">{{ text_acc_user_new_pass }}</span>
                            <input placeholder="{{ text_acc_user_place }}" type="password" name="password">
                        </label>
                    </div>
                </div>
                <script type="text/javascript">
                    $('document').ready(function(){
                        {% if bdate == 0 %}
                        $( "#bdate" ).datepicker({
                            format: "dd.mm.yyyy",
                            language: "{{ langs }}"
                        }).datepicker("setDate", new Date());
                        {% endif %}
                        $('.profile-form__btn').on('click', function(e){
                            var bdate = $('#bdate');
                            if(bdate.attr('readonly') != 'readonly'){
                                var val = bdate.datepicker().val();
                                var from = val.split(".");
                                var years = 12 * 12 * 31 * 24 * 60 * 60 * 1000; //3 years
                                var f = new Date(from[2], from[1] - 1, from[0]);
                                var now = (new Date());
                                if(now - f < years){
                                    bdate.addClass('error');
                                    e.stopPropagation();
                                    e.preventDefault();
                                }
                            }
                        });
                    });

                </script>
                <style>
                    div.datepicker{ position: absolute; background: white; box-shadow: black 0px 0px 3px; font-size: initial; }
                    div.datepicker > div { display: block; }
                </style>
                <div class="profile-form__controls"><input type="submit" class="btn profile-form__btn btn-orange" value="{{ text_acc_user_btn_tit }}"></div>
            </form>
        </div>
    </div>
</section>

{{ footer }}