{{ header }}
<section class="profile page">
    <div class="container">
        <div class="profile__content">
            <h2>Здравствуйте{% if firstname and firstname != '' %}, {{ firstname }}{% endif %}!</h2>
            {{ orders_list }}
            <div class="profile__title">Вы можете отредактировать свои персональные данные</div>
            <form class="profile-form" method="post" action="{{ form_action }}">
                <div class="profile-form__content">
                    <div class="profile-form__box">
                        <label class="profile-form__label"><span class="profile-form__box-name">Адреса</span>

                        </label>
                        <div class="profile-form__box-current-adresses">
                            {% set s = 1 %}
                            {% for key,address in addresses %}
                                <div class="profile-form__box-current-adresses-adress-row">
                                    <span>{{ s }}. {{ address.nas_punkt }}, {{ address.street }} {{ address.house }} {{ address.paradnya }} </span>
                                    <div class="profile-form__box-current-adresses-adress-row_remove" data-address-id="{{ address.address_id }}">

                                    </div>
                                     </div>
                                {% set s= s +1 %}
                            {% endfor %}
                        </div>
                        <div class="profile-form__add-label"><a href="#">+ Добавить адрес</a></div>
                        <div class="profile-form__drop">
                            <label class="profile-form__label"><span class="profile-form__box-name">Населённый пункт</span>
                                <select name="nas_punkt" class="basket-log__form-value">
                                    <option>Вишневое</option>
                                    <option>Софиевская Борщаговка</option>
                                    <option>Петропавловская Борщаговка</option>
                                    <option>Святопетровское</option>
                                    <option>Киев</option>
                                </select>
                            </label>
                            <label class="profile-form__label"><span class="profile-form__box-name">Улица</span>
                                <input type="text" name="street">
                            </label>
                            <div class="profile-form__drop-box">
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Дом</span>
                                        <input type="text" name="house">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Парадная</span>
                                        <input type="text" name="paradnya">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Этаж</span>
                                        <input type="text" name="floor">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Квартира</span>
                                        <input type="text" name="flat">
                                    </label>
                                </div>
                                <div class="profile-form__drop-item">
                                    <label class="profile-form__label"><span class="profile-form__box-name">Код двери</span>
                                        <input type="text" name="code_door">
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="profile-form__box">
                        <label class="profile-form__label"><span class="profile-form__box-name">Имя</span>
                            <input type="text" value="{{ firstname }}" name="firstname">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">Телефон</span>
                            <input type="tel" value="{{ telephone }}" name="telephone">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">E-mail</span>
                            <input type="email" value="{{ email }}" name="email">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">Новый пароль</span>
                            <input placeholder="Оставляем пустым, если изменять не надо" type="password" name="password">
                        </label>
                        <label class="profile-form__label"><span class="profile-form__box-name">Повторите новый пароль</span>
                            <input placeholder="Оставляем пустым, если изменять не надо" type="password" name="password">
                        </label>
                    </div>
                </div>

                <div class="profile-form__controls"><input type="submit" class="btn profile-form__btn btn-orange" value="Сохранить"></div>
            </form>
        </div>
    </div>
</section>

{{ footer }}