<form class="user-auth sing-log__form" action="{{ form_login_action }}">
    <input class="auth_type" type="hidden" name="type_auth" value="auth">
    <input class="auth_login" type="hidden" name="type_login" value="{{ form_login_action }}">
    <input class="auth_registr" type="hidden" name="type_registr" value="{{ form_register_action }}">
    <input class="auth_forgots" type="hidden" name="type_forgot" value="{{ form_forgot_action }}">
    <label class="sing-log__label label-info hidden">
        <span class="sing-log__label-info">Info</span>
    </label>
    <label class="sing-log__label label-email hidden">
        <span class="sing-log__label-name">E-mail</span>
        <div class="">
            <input class="auth_email" type="email" name="email" placeholder="E-mail">
        </div>
    </label>
    <label class="sing-log__label  label-tel">
        <span class="sing-log__label-name">Телефон</span>
        <div>
            <input class="auth_tel" type="tel" name="tel" placeholder="телефон" required>
        </div>
    </label>
    <label class="sing-log__label  label-password">
        <span class="sing-log__label-name">Пароль</span>
        <div>
            <input class="auth_pass" type="password" name="password" placeholder="пароль" required>
        </div>
    </label>
    <div class="sing-log__box label-confirm">
        <label class="sing-log__box-label">
            <input class="auth_confirm" type="checkbox" name="checkbox"><span class="sing-log__box-check"></span>
            <span class="sing-log__box-name">Запомнить меня</span>
        </label>
        <a class="sing-log__box-link auth-forgot noLink" href="#">Забыли пароль?</a>
    </div>
    <div class="sing-log__enter">
        <div class="sing-log__enter-title">Войти с помощью:</div>
        {{ form_login_ulogin }}
        <a class="sing-log__enter-item sing-log__enter-item-facebook  noLink" href="#"></a>
    </div>
    <div class="sing-log__controls">
        <div class="sing-log__reg-wrap login hidden">
            <a class="sing-log__log  noLink" href="#">Авторизироваться</a>
        </div>
        <div class="sing-log__reg-wrap regis">
            <a class="sing-log__reg  noLink" href="#">Зарегистрироваться</a>
        </div>
        <a class="btn sing-log__btn btn-orange  noLink" href="#">Войти</a>
    </div>
</form>
