{{ header }}
<section class="menu page">
  <div class="container">
    <div class="profile__content">
      <h2>{{ heading_title }}</h2>
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="profile-form" style="display: flex;  flex-direction: column; align-items: center;">

        <div class="profile-form__box">
          <label class="profile-form__label"><span class="profile-form__box-name">{{ entry_password }}</span>
            <input placeholder="{{ entry_password }}" type="password" name="password"  {% if error_password %}title="{{ error_password }}" class="error" {% endif %}>
          </label>
          <label class="profile-form__label"><span class="profile-form__box-name">{{ entry_confirm }}</span>
            <input placeholder="{{ entry_confirm }}" type="password" name="confirm" {% if error_confirm %}title="{{ error_confirm }}" class="error" {% endif %}>
          </label>
        </div>

        <div class="profile-form__controls">
          <div class="pull-left" style="margin-bottom: 10px;"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
          <div class="pull-right">
            <button type="submit" class="btn profile-form__btn btn-orange">{{ button_continue }}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="menu__text">{{ text_warn }}</div>
    <style>
      .error{border: 1px solid red;background: rgba(255, 0, 0, 0.2);}
    </style>
    <script>
      $('input.error').on('click',function () {
          $(this).removeClass('error');
      })
    </script>
  </div>
</section>
{{ footer }}
