{{ header }}
<section class="card page">
    <div class="container">
        <div class="card__top">
            <h2>{{ heading_title }}</h2>
            <div class="card__controls"><a class="card__btn card__prev" href="#">← Четыре сыра</a><a class="card__btn card__next" href="#">Гавайская →</a></div>
        </div>
        <div class="card__content">
            <div class="card__block">
                <div class="card__img"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}">
                    <div class="card__text">Вид реального товара может незначительно отличаться от изображения на сайте</div>
                </div>
            </div>
            <div class="card-price__wrap">
                <div class="card-price">
                    {% if options %}
                        {% for option in options %}
                            {% if option.type == 'checkbox' %}
                                {% for key, option_value in option.product_option_value %}
                                    <label class="card-price__box{% if key == 0 %} active{% endif %}">
                                        <input type="radio" name="card-price" {% if key == 0 %}checked{% endif %}>
                                        <input type="hidden" name="size-price" value="{% if option_value.cost %}{{ option_value.cost }}{% endif %}" />
                                        <span class="card-price__dot"></span>
                                    <span class="card-price__info">
                                        <span class="card-price__size">{{ option_value.name }}
                                            <span>500 ± 50 гр</span>
                                        </span>
                                        <span class="card-price__num">{% if option_value.price %}{{ option_value.price }}{% endif %}</span>
                                    </span>
                                    </label>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-price__controls"><a class="btn card-price__btn btn-orange" href="#">Заказать</a><a class="btn card-price__btn for-popup" href="#ingredients">+ Добавить ингредиенты</a></div>
            </div>
        </div>
        <div class="ingredients">
            <div class="ingredients__title">Состав</div>
            <div class="ingredients__content">
                {% if attribute_groups %}
                    {% for attribute_group in attribute_groups %}
                        {% for attribute in attribute_group.attribute %}
                            <div class="ingredients-item">
                                <div class="ingredients-item__box">
                                    <div class="ingredients-item__img"><img src="{{ attribute.thumb }}" alt=""></div>
                                    <div class="ingredients-item__name">{{ attribute.name }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
             </div>
        </div>
        <div class="card__recom">
            <h2>Рекомендуем</h2>
            <div class="hit__content">
                <div class="hit-item"><a class="hit-item__box mode-hit" href="card.html" style="background-image: url(img/hit__img1.png);" data-info="Хит"><span class="hit-item__name">Итальянская</span><span class="hit-item__text">Карбонат, помилоры, оливки, сыр «Моцарелла», томатный соус, шампиньоны</span><span class="hit-item__info"><span class="hit-item__info-box"><span class="hit-item__info-block"><span class="hit-item__info-size">30 см<span>500 ± 50 гр</span></span><span class="hit-item__info-price">148 грн</span></span><span class="btn hit-item__btn">Заказать</span></span><span class="hit-item__info-box"><span class="hit-item__info-block"><span class="hit-item__info-size">40 см<span>900 ± 50 гр</span></span><span class="hit-item__info-price">215 грн</span></span><span class="btn hit-item__btn">Заказать</span></span></span></a></div>
                <div class="hit-item"><a class="hit-item__box mode-hit" href="card.html" style="background-image: url(img/hit__img2.png);" data-info="Хит"><span class="hit-item__name">Гавайская</span><span class="hit-item__text">Карбонат, помилоры, оливки, сыр «Моцарелла», томатный соус, шампиньоны</span><span class="hit-item__info"><span class="hit-item__info-box"><span class="hit-item__info-block"><span class="hit-item__info-size">30 см<span>500 ± 50 гр</span></span><span class="hit-item__info-price">148 грн</span></span><span class="btn hit-item__btn">Заказать</span></span><span class="hit-item__info-box"><span class="hit-item__info-block"><span class="hit-item__info-size">40 см<span>900 ± 50 гр</span></span><span class="hit-item__info-price">215 грн</span></span><span class="btn hit-item__btn">Заказать</span></span></span></a></div>
                <div class="hit-item"><a class="hit-item__box mode-hit" href="card.html" style="background-image: url(img/hit__img3.png);" data-info="Хит"><span class="hit-item__name">Четыре сыра</span><span class="hit-item__text">Карбонат, помилоры, оливки, сыр «Моцарелла», томатный соус, шампиньоны</span><span class="hit-item__info"><span class="hit-item__info-box"><span class="hit-item__info-block"><span class="hit-item__info-size">30 см<span>500 ± 50 гр</span></span><span class="hit-item__info-price">148 грн</span></span><span class="btn hit-item__btn">Заказать</span></span><span class="hit-item__info-box"><span class="hit-item__info-block"><span class="hit-item__info-size">40 см<span>900 ± 50 гр</span></span><span class="hit-item__info-price">215 грн</span></span><span class="btn hit-item__btn">Заказать</span></span></span></a></div>
            </div>
        </div>
    </div>
    <div class="card-reviews">
        <div class="container">
            {{ reviews_add }}
        </div>
    </div>
    <div class="container container_reviews">
        {{ reviews }}

    </div>
</section>
<div class="hidden">
    <div class="ingredients-popup container" id="ingredients">
        <div class="ingredients-popup__top">
            <div class="ingredients-popup__item">
                <div class="ingredients-popup__item-img"><img src="{{ popup }}" alt=""></div>
                <div class="ingredients-popup__item-name">{{ heading_title }}</div>
                <div class="ingredients-popup__item-size">
                    {% if options %}
                        {% for option in options %}
                            {% if option.type == 'checkbox' %}
                                {% for key, option_value in option.product_option_value %}
                                    {% if key == 0 %} ({{ option_value.name }} 500 ± 50гр){% endif %}

                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="ingredients-popup__item-price">246 грн</div><a class="btn ingredients-popup__item-btn btn-orange" href="#">Заказать</a>
            </div>
            <div class="ingredients-popup__box">

            </div>
        </div>
        <div class="ingredients-popup__tabs">
            <div class="menu-tabs">
                {% if indegrients %}
                    {% set count_arr = 1 %}
                    {% for group_id, group in indegrients %}
                        <div class="menu-tabs__item"><a data-group-id="{{ group_id }}" class="menu-tabs__link {% if count_arr == 1 %}active{% endif %}" href="#">{{ group.name }}</a>

                        </div>
                        {% set count_arr = count_arr + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="ingredients-popup__range">
            {{ first_group_indigrients }}
        </div>
    </div>
</div>
{{ footer }} 
