{% if reviews %}
    <span class="reviews_title">{{ text_titl }}</span>
    <div class="reviews__content">
        {% for _reviews in reviews %}
            <div class="reviews-item">
                <div class="reviews-item__box">
                    <div class="reviews-item__name">{{ _reviews.author }}, <span>«{{ _reviews.product_name }}»</span></div>
                    <div class="reviews-item__text">{{ _reviews.text }}</div>
                    <div class="reviews-item__date">{{ _reviews.date_added }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <span class="reviews_title">{{ text_titl }}</span>
    <div class="reviews__content">
        <p>{{ text_no_reviews }}</p>
    </div>
{% endif %}