<span class="card-reviews_title">{{ text_title_review_add }}</span>
<div id="reviewsAddForm" class="card-reviews__form">
    <input type="hidden" id="action" value="{{ action }}">
    <input type="hidden" name="category_id" value="{{ category_id }}">
    <input type="hidden" name="product_id" value="{{ product_id }}">
    <input type="hidden" name="rating" value="0">
    <div class="card-reviews__box">
        <div>
            <input type="text" name="name" placeholder="{{ text_tip_name }}" required="required">
        </div>
    </div>
    <div class="card-reviews__box">
        <div class="card-reviews__stars wrapper">
            <a class="card-reviews__stars-item " href="#"></a>
            <a class="card-reviews__stars-item " href="#"></a>
            <a class="card-reviews__stars-item " href="#"></a>
            <a class="card-reviews__stars-item " href="#"></a>
            <a class="card-reviews__stars-item " href="#"></a>
        </div>
    </div>
    <div>
        <textarea name="text" class="card-reviews__mess" placeholder="{{ text_tip_area }}" required="required"></textarea>
    </div>
    <span id="reviewsAdd" class="card-reviews__submit" >{{ text_btn_name }}</span>
</div>